{% extends 'student_master.html' %}
{% block content %}

{% load static %}



<link rel="stylesheet" href="{% static 'css/registration.css' %}">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>


<div class="container-fluid">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                {% for p in profile %}
                <div class="col-sm-6">
                    <h2>{{p.t_name}}</h2>
                </div>
                {% endfor %}
            </div>
        </div>

        <!-- Upload Profile Photo -->
        {% for p in profile %}
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="profile-pic-div">
                    <img src="{{p.t_profile.url}}" class="img-fluid" style="height: 250px;" id="photo">
                    <input type="file" id="file" name="profile">
                    <label for="file" id="uploadBtn">Choose Photo</label>
                </div>
            </div>
        </div><br><br><br><br><br>

        <!-- Table starting  -->


        <!-- Basic Details -->
        <div class="d-grid gap-2">
            <button class="btn btn-primary" id="btn1" type="button">Basic Details</button>
        </div>

        <div id="form1"><br>
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-group">
                        <li class="list-group-item">Name :{{p.t_name}}</li>
                        <li class="list-group-item">Date of birth: {{p.dob}}</li>
                        <li class="list-group-item">Place : {{p.place}}</li>
                        <li class="list-group-item">Nationality :{{p.nationality}}</li>
                        <li class="list-group-item">Email ID :{{p.email_id}}</li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="list-group">
                        <li class="list-group-item">Gender: {{p.gender}}</li>
                        <li class="list-group-item">Age : {{p.age}}</li>
                        <li class="list-group-item">District :{{p.district}}</li>
                        <li class="list-group-item">Aadhar Number :{{p.aadhar_num}}</li>
                        <li class="list-group-item">Phone Number :{{p.phone_number}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <br>

        <a href="#" class="btn btn-success btn-sm active" role="button" aria-pressed="true" style="margin-left: 950px;"
            id="view">
            <span class="material-icons">visibility</span>
            view full profile
        </a>

        <div id="hide">
            <div id="form">
                <div class="d-grid gap-2" style="margin-top:5px;">
                    <button class="btn btn-primary" id="btn2" type="button">Educational Details</button>
                </div><br>

                <div id="form2">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-group">
                                <li class="list-group-item">Qualification :{{p.qualification}}</li>
                                <!-- <li class="list-group-item">Qualification :{{p.qualification}}</li> -->
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-group">
                                <li class="list-group-item">College Name: {{p.college_name}}</li>
                                <li class="list-group-item"><a href="{{p.quali_certificate.url}}" target="_blank" class="btn btn-success btn-sm">Qualification Certificate</a></li>
                            </ul>
                        </div>
                    </div>
                </div>





                <div class="d-grid gap-2">
                    <button class="btn btn-primary" id="btn3" type="button">Professional Details</button>
                </div><br>
    
                <div id="form3">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-group">
                                <li class="list-group-item">Institution : {{p.instituation_name}}</li>
                            </ul>
                            
                        </div>
                    </div><br>
                        <div class="col-sm-6">
                            <ul class="list-group">
                                <li class="list-group-item">Year of Experience : {{p.year_of_experience}}</li><br>
                                <li class="list-group-item"><a href="{{p.experience_certificate}}" target="_blank" class="btn btn-success btn-sm">Experience Certificate</a></li>
                            </ul>
                        </div>
                    <br>
                </div>
            </div>
        </div>
        {% endfor %}







    </div>


    <script>
        //declearing html elements

        const imgDiv = document.querySelector('.profile-pic-div');
        const img = document.querySelector('#photo');
        const file = document.querySelector('#file');
        const uploadBtn = document.querySelector('#uploadBtn');

        //if user hover on img div 

        imgDiv.addEventListener('mouseenter', function () {
            uploadBtn.style.display = "block";
        });

        //if we hover out from img div

        imgDiv.addEventListener('mouseleave', function () {
            uploadBtn.style.display = "none";
        });

        //lets work for image showing functionality when we choose an image to upload

        //when we choose a foto to upload

        file.addEventListener('change', function () {
            //this refers to file
            const choosedFile = this.files[0];

            if (choosedFile) {

                const reader = new FileReader(); //FileReader is a predefined function of JS

                reader.addEventListener('load', function () {
                    img.setAttribute('src', reader.result);
                });

                reader.readAsDataURL(choosedFile);
            }
        });


        // Form hide and show using jquery
        $(document).ready(function () {
            $("#btn1").click(function () {
                $("#form1").toggle()
            })
        })
        $(document).ready(function () {
            $("#hide").hide()
            $("#view").click(function () {
                $("#hide").toggle()
                $("#view").hide()
            })
        })
        $(document).ready(function () {
            $("#form2").hide()
            $("#btn2").click(function () {
                $("#form2").toggle()
            })
        })
        $(document).ready(function () {
            $("#form3").hide()
            $("#btn3").click(function () {
                $("#form3").toggle()
            })
        })

    </script>

























    {% endblock %}